# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# C extensions
#*.so
#*.packages
#*.dll
#*.lib

# developement
data/
model/
pictures/
experimental/
scripts/
doc/mcx/

# distribution / packaging
bin/
build/
*.egg-info/
*.egg
.installed.cfg

# pycharm project
.idea/

# Sphinx documentation
doc/build/


